.container{
    margin: 0px;
    padding: 0.7px;
    background-color: orange;
    box-shadow: rgb(112, 81, 24);    
}
h1{
    margin: 20px;
    padding: 20px;
    background-color: rgb(255,0,0);
    font-size:100px;

}
body{
    text-shadow: 2px 2px #ff00d4;
 background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");}

select{
    box-shadow: 0.7 green;
}
form{
    background-color: rgb(255, 166, 0);
    padding-left: 37%;

}
.input{
    text-align: center;
}
a{
    color: white;
    background-color: blue;
}





